body {
background-color: #FFF;
margin: 2;
padding: 0;
height: 900px;
width: 100%;
background: url("http://clipart-library.com/img/2076128.png") no-repeat center bottom;
background-size: cover;
background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 49px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.Catalog img {
  margin: 0 auto;
  position: relative;
  align: center;
  display: block;
  height: 600px;
  width: 50%;
}

p {
  font-size: 21px;
}

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
    list-style: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

li.songs dropdown {
    display: inline-block;
}

li.stories dropdown {
    display: inline-block;
}

li.photography dropdown {
    display: inline-block;
}

li.art dropdown {
    display: inline-block;
}

li.games dropdown {
    display: inline-block;
}

li.music dropdown {
    display: inline-block;
}

li.poems dropdown {
    display: inline-block;
}

li.recipes dropdown {
    display: inline-block;
}

li.diyprojects dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: green}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
