body {
background-color: #FFF;
margin: 2;
padding: 0;
height: 900px;
width: 100%;
background: url("https://s-media-cache-ak0.pinimg.com/originals/f4/34/5f/f4345fc5c9289c44ef94af2281dbbf5a.jpg") no-repeat center bottom;
background-size: cover;
background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 49px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
